body {
    color:#420728;
    background-color:#ffebf8;
    font-family:Georgia, Verdana, sans-serif;
}
h1 {color:#F76900}
h2 {color:#ff7f69}
nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color:lightyellow;
}
nav a {color:mediumvioletred;}
nav {color:mediumvioletred;}
nav a:hover {background-color:orange}
div {
    border: 1px solid #ffb514;
    margin: 30px;
    padding: 50px;
    background-color: #ffd8ad;
    border-radius: 25px;
}